<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台首页</title>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/main.css"/>
    <link rel="stylesheet" href="__PUBLIC__/common/css/bootstrap.css">
    <script src="__PUBLIC__/common/js/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/common/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="__PUBLIC__/common/images/logo.png">
    <style>
        body{color:#333;background:#f2f2f2;}
        table{width:100%;border:1px solid #c5c5c5;text-align: center;}
        td{width:6%;border:1px solid #cccccc;}
        .sub_menu li a:hover{color:#961949;background:#dddddd;}
        .pagination > .active > span{
            background-color: #b9637e;
            border-color:#ddd;
        }
        .pagination > .active > span>a{
            color:white;
        }
        .topB li a{float:left;margin-left:6px;background:#b9637e;color:white;line-height:20px;padding:5px;border-radius:4px;text-decoration:none;}
        .topB ul{float:right;}
        .cenB li{float:left;}
        .cenB a{text-decoration:none;}
        .sub_menu li{margin-top:4px;margin-left:-10px;}
        .name>li{line-height:71px;}
    </style>
</head>
<body class="index-body">
<div id="header">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="logo">
                <img class="img-responsive center-block" src="__PUBLIC__/common/images/logo1.png">
            </div>
            <ul class="name">
                <li><a href="#">{$Think.session.username}</a></li>
                <li><a href="{:url('admin/login/tc')}">退出</a></li>
            </ul>
        </div>
    </nav>
</div>
<div id="contents">
    <div class="container pot">
        <div id="content-left" class="col-md-2">
            <div class="menu_box">
                <ul class="menu_box_ul">
                    <li>
                        <h4 class=""><i class="fa fa-fw fa-clipboard glyphicon glyphicon-sound-5-1"></i>&nbsp;资讯中心</h4>
                        <ul class="sub_menu">
                            <li class=""><a href="{:url('admin/index/publish')}" target="main" style="">发布资讯</a></li>
                            <li class=""><a href="{:url('admin/index/plist')}" target="main">资讯列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4><i class="fa fa-fw fa-clipboard glyphicon glyphicon-tags"></i>&nbsp;产品中心</h4>
                        <ul class="sub_menu">
                            <li class=""><a href="{:url('admin/product/publishwine')}" target="main">发布产品</a></li>
                            <li class=""><a href="{:url('admin/product/winelist')}" target="main">产品列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4><i class="fa fa-fw fa-clipboard glyphicon glyphicon-file"></i>留言管理</h4>
                        <ul class="sub_menu">
                            <li class=""><a href="{:url('admin/message/index')}" target="main">留言列表</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <div id="content-right" class="col-md-10">
            <div class="result_wrap " name="main">
                <div class="cenB">
                    <ul>
                        <li><a href="###"><i class="glyphicon glyphicon-sound-5-1"></i>&nbsp;留言管理</a></li>
                        <li>>></li>
                        <li><a href="###">留言列表</a></li>
                    </ul>
                </div>
                <span style="width: 100px;height: 30px;display: block;"></span>
                <table class="table  table-hover">
                    <thead>
                    <tr class="danger">
                        <td>姓名</td>
                        <td>邮箱</td>
                        <td>电话</td>
                        <td>留言时间</td>
                        <td>留言</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    {volist name="data" id="v"}
                    <tr>
                        <td class="tc">{$v.name}</td>
                        <td class="tc">{$v.email}</td>
                        <td class="tc">{$v.tel}</td>
                        <td class="tc">{$v.time}</td>
                        <td class="tc" title="{$v.content}">{:mb_substr($v.content, 0, 10)}</a></td>
                        <td class="tc">
                            <a class="del" href="{:url('admin/message/delete',['id'=>$v.id])}" onclick="return false;">删除</a>
                        </td>
                    </tr>
                    {/volist}
                </table>
                {$data->render()}
            </div>
        </div>
    </div>

</div>
<div class="row foot-buttom">
    <div class="col-sm-12">
        <p class="text-center">
            Copyright @ 2014-2018.
            <a href="#">上海臧星阁文化发展有限公司</a>
            All Rights Reserved
            <a>沪ICP备17055257号</a>
        </p>
        <p style="text-align:center">技术支持:<a href="http://www.qiniuniu.com/"> <img src="__PUBLIC__/common/images/qiniuniu.png" alt=""></a></p>
    </div>
</div>
<script>
    //删除
    $(".del").click(function () {
        $.ajax({
            url: $(this).attr('href'),
            success : function(res) {
                if(res.state=="success"){
                    alert('删除成功');
                    location.reload();
                }else{
                    alert('删除失败');
                }
            }
        })
        return false;
    })


    $(function(){
        if($("#content-left").height() > $("#content-right").height()){
            $("#content-right").css("height",$("#content-left").height());
        }else{
            $("#content-left").css("height",$("#content-right").height());
        }
    })
</script>
</body>
</html>
