<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/common/css/bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/main.css"/>
    <script src="__PUBLIC__/common/js/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/common/js/bootstrap.min.js"></script>
    <title>后台首页</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="logo">
                <img class="img-responsive center-block" src="__PUBLIC__/common/images/logo1.png">
            </div>
            <ul class="name">
                <li><a href="#">用户</a></li>
            </ul>
        </div>

    </div>
    <div id="contents">
        <div class="container">
            <div id="content-left" class="col-md-2">
                <div class="menu_box">
                    <ul class="menu_box_ul">
                        <li>
                         <ul class="sub_menu">
                            <li class="menu_index"><a href="#" target="main"><i class="fa fa-fw fa-home"></i>首页</a></li>
                         </ul>
                        </li>

                        <li>
                        <h3><i class="fa fa-fw fa-clipboard"></i>资讯中心</h3>
                        <ul class="sub_menu">
                            <li class=""><a href="{:url('admin/index/publish')}" target="main">发布资讯</a></li>
                            <li class=""><a href="{:url('admin/index/plist')}" target="main">资讯列表</a></li>
                        </ul>
                        </li>
                        <li>
                            <h3><i class="fa fa-fw fa-clipboard"></i>产品中心</h3>
                            <ul class="sub_menu">
                                <li class=""><a href="{:url('admin/product/publishwine')}" target="main">发布产品</a></li>
                                <li class=""><a href="{:url('admin/product/winelist')}" target="main">产品列表</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="content-right" class="col-md-10">
                <div class="result_wrap" name="main">nijd</div>
            </div>
        </div>

    </div>
    <div id="footer" style="background-color: #0f0f0f">
        <h3 class="text-center">网站后台</h3>
        <p class="text-center">蛋蛋制造蛋蛋制造蛋蛋制造蛋蛋制造蛋蛋制造蛋蛋制造蛋蛋制造蛋蛋制造蛋蛋制造蛋蛋制造蛋蛋制造蛋蛋制造蛋蛋制造蛋蛋制造蛋蛋制造蛋蛋制造</p>
    </div>

</body>
</html>