<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台首页</title>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/main.css"/>
    <link rel="stylesheet" href="__PUBLIC__/common/css/bootstrap.css">
    <script src="__PUBLIC__/common/js/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/common/js/bootstrap.min.js"></script>
</head>
<body class="index-body">
<div id="header">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="logo">

            </div>
        </div>
    </nav>

</div>
<div id="contents">
    <div class="container">
        <div id="content-left" class="col-md-2">
            <div class="menu_box">
                <ul class="menu_box_ul">
                    <li>
                        <ul class="sub_menu">
                            <li class="menu_index"><a href="#" target="main"><i class="fa fa-fw fa-home"></i>首页</a></li>
                        </ul>
                    </li>

                    <li>
                        <h3><i class="fa fa-fw fa-clipboard"></i>资讯中心</h3>
                        <ul class="sub_menu">
                            <li class=""><a href="{:url('admin/index/publish')}" target="main">发布资讯</a></li>
                            <li class=""><a href="{:url('admin/index/plist')}" target="main">资讯列表</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <div id="content-right" class="col-md-10">
            <div class="result_wrap" name="main">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td>封面</td>
                        <td>标题</td>
                        <td>内容</td>
                        <td>分类</td>
                        <td>时间</td>
                        <td>编辑</td>
                    </tr>
                    </thead>
                    {volist name="list" id="vo"}
                    <tr>
                        <td>{$vo.banner}</td>
                        <td>{$vo.title}</td>
                        <td>{$vo.content}</td>
                        <td>{$vo.description}</td>
                        <td>{$vo.time|date="Y-m-d",###}</td>
                        <td>
                            <a href="{:url('admin/index/modify')}?id={$vo.id}">修改</a>
                            <a href="">删除</a>
                        </td>
                    </tr>
                    {/volist}
                </table>
                {$list->render()}
            </div>
        </div>
    </div>

</div>
<div class="row foot-buttom">
    <div class="col-sm-12">
        <p class="text-center">
            Copyright @ 2014-2017.
            <a href="#">上海臧星阁文化发展有限公司</a>
            All Rights Reserved
            <a>沪ICP备xxxxxx号</a>
        </p>
    </div>
</div>

</body>
</html>