body{
    background-color: #fff;
}
ul{list-style: none;}
.header{height: 150px;background: #dedede;}
.logo{
    float: left;
    width: 120px;
}
.logo img{width: 100%;}
.name>li{
    float: right;
    line-height: 150px;
    font-size:18px;
}
.name>li>a{
    display: inline-block;
    padding: 0 20px;
    color: #a55c3f;
}




#content-left{
    background-color: #e7e8eb;
}
#content-right {
    background-color: #dddddd;
}

.table tr a{
    display: inline-block;
    margin:5px 0;
    width:40px;
    height: 25px;
    line-height:25px;
    text-align: center;
    /*cursor: pointer;*/

}
.s1{background: #a55c3f;}
.s2{background:firebrick;}


