<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

<body>
<div class="foot">
    <div class="container">
        <div class="row  foot-bor">
            <div class="col-sm-6">
                <div class="foot-border col-sm-4">
                    <div class="foot-meigui">玫瑰沸腾</div>
                    <div class="poprose">PopRose</div>
                </div>
                <div class="col-sm-8 foot-address">
                    <div> QQ&nbsp;&nbsp; : <a href="###">3575719170</a></div>
                    <div>邮箱 ：<a href="###">david@poprose.cn</a></div>
                    <div>地址 ：<a href="###">上海浦东新区新金桥路1122号1910-1911室</a></div>
                </div>
            </div>
            <div class="col-sm-6">
                <h4 class="text-right">热线电话：<a>021-58356282</a></h4>
            </div>
        </div>
        <div class="row foot-buttom">
            <div class="col-sm-12">
                <p class="text-center">
                    Copyright @ 2014-2017.
                    <a href="#">上海臧星阁文化发展有限公司</a>
                    All Rights Reserved
                    <a href="http://www.miitbeian.gov.cn">沪ICP备17055257号</a>
                </p>
                <p style="text-align:center">技术支持 <a href="http://www.qiniuniu.com/"> <img src="__PUBLIC__/common/images/qiniuniu.png" alt=""></a></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>