<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<!--侧边栏-->
<div class="ce-btn">
    <div class="ce-btns">
        <i class="tel"></i>
        <div class="Alert" style="text-align: center;width:140px;line-height:40px;height:40px;"><a href="tel:021-58356282">021-58356282</a></div>
    </div>
    <div class="ce-btns"><i class="zhiding"></i></div>
</div>

<script>
    //    侧边栏
    $(".ce-btns").mouseover(function(){
        $(this).css({background:"#fff",color:"#a55c3f"}).siblings().css({background:"",color:""});
        $(".ce-btns .Alert").eq($(this).index()).show();
    });
    $(".ce-btns").mouseleave(function(){
        $(this).css({background:"",color:""});
        $(".ce-btns .Alert").eq($(this).index()).hide();
    });
    //    置顶
    $(".zhiding").click(function(){
        var t=setInterval(function(){
            if(document.documentElement.scrollTop<=0){
                clearInterval(t);
                document.documentElement.scrollTop=0;
            }
            document.documentElement.scrollTop=document.documentElement.scrollTop-200;
        },40);
    });

</script>


</body>
</html>