<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {include file="public/js"}
    <title>产品详情</title>
    <link rel="shortcut icon" href="__PUBLIC__/common/images/logo.png">
</head>
<body>
<header>
    {include file="public/header"}
</header>
<div class="banner">
    <a href="#">
        <img class="img-responsive" src="__PUBLIC__/common/images/banner2.jpg">
    </a>
</div>
<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">产品中心</a></li>
            <li class="active">产品详情</li>
        </ol>
    </div>
    <div class="row guanyu">
        <div class="row col-sm-12" style="text-align: center;">
            <div class="titles title1">PRODUCT CENTER</div>
            <div class="titles title2">产品详情</div>
        </div>
    </div>
    <div class="row">
        <img class="col-sm-4 img-responsive center-block" src="__PUBLIC__/common/images/{$info.banner}" alt="">
        <div class="col-sm-8">
            <div class="cp-zs">
                <div class="col-sm-12">
                    <div class="Ackerman">{$info.title}</div>
                    <div class="Ackerman Ackerman_font">{$info.etitle}</div>
                </div>
                <div class="col-sm-12" style="padding: 0;">
                    <div class="col-sm-6">
                        <p><b>产地：</b><span>{$info.productarea}</span></p>
                        <p><b>年份：</b><span>{$info.year}</span></p>
                        <p><b>品种：</b><span>{$info.kind}</span></p>
                        <p><b>酒精度：</b><span>{$info.vol}%</span></p>
                        <p><b>参考价格：</b><span style="color: #f60;">{$info.referprice} </span></p>
                        <p><b>酒品提供：</b><span>{$info.winesupply} </span></p>
                    </div>
                    <div class="col-sm-6">
                        <p><b>外观：</b><span>{$info.appearance}</span></p>
                        <p><b>香气：</b><span>{$info.aroma}</span></p>
                        <p><b>滋味：</b><span>{$info.taste}</span></p>
                        <p><b>总体质量：</b><span>{$info.quality}</span></p>
                        <p><b>基本分：</b><span>{$info.basescore}</span></p>
                        <p><b>总评分：</b><span>{$info.totalscore}</span></p>
                    </div>
                </div>
                <div class="col-sm-12" style="margin-top:30px;">
                    <p class="cp-top-p">{$info.desc}
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div style="margin-bottom:50px;"></div>
</div>
<footer>
    {include file="public/footer"}
</footer>

<!--侧边栏-->
{include file="public/sidebar"}

</body>
</html>