<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {include file='public/js'}
    <title>集团简介</title>
    <link rel="shortcut icon" href="__PUBLIC__/common/images/logo.png">
</head>
<body>
<header>
    {include file='public/header'}
</header>
<div class="banner">
    <!--<a href="#">-->
        <img class="img-responsive" src="__PUBLIC__/common/images/banner2.jpg">
    <!--</a>-->
</div>
<div class="container">
    <div class="row guanyu">
        <div class="row cp_margin col-sm-12" style="text-align: center;">
            <div class="titles title1">PRODUCT DISPLAY</div>
            <div class="titles title2">关于我们</div>
        </div>
        <img class="img-responsive col-sm-12" src="__PUBLIC__/common/images/img4.png">
        <div class="col-sm-12" style="margin-top:40px;">
            上海藏星阁文化发展有限公司是一家独特的美酒文化培育和推广机构。
            根植于公司创立者长期来对全世界葡萄品种、葡萄酒类型和风格、以及葡萄酒产区的考察、品鉴、学习和研究，
            结合对中国饮食文化的品尝、理解和体会，致力将中西方美酒、美食文化二者完美融和。
            公司现有品牌<i class="mei-te">“玫瑰沸腾”（PopRose）</i>，专注倡导和普及最炫丽、最浪漫、最时尚、最适合中国饮食文化的葡萄酒---玫瑰红。
        </div>
    </div>

    <div class="row guanyu">
        <div class="row cp_margin col-sm-12" style="text-align: center;">
            <div class="titles title1">TEAM TO INTRODUCE</div>
            <div class="titles title2">团队介绍</div>
        </div>
        <div class="col-sm-12">
            公司拥有一支由高学历、丰富经验的人才组成的团队，我们团队领路人是中国人民银行总行硕士、澳大利亚德莱得大学葡萄酒专业硕士，曾辗转世界各主要葡萄酒产地，多年考察、品鉴、研究，和一群志同道合于宣传、推广葡萄酒文化的专家、学者、爱好者共同组建。
        </div>
        <div class="col-sm-12" style="margin:20px 0;">
            在大家多年的观察、摸索中，选择了玫瑰红葡萄酒作为主力方向，精选玫瑰红中主要产地、主要酒庄的适合国人、适合中国餐饮的品种，伴随多种形式相关知识普及方式，与葡萄酒爱好者分享、探讨、寻找其中的乐趣，共建雅致、闲趣、内涵的氛围。
        </div>
        <div class="col-sm-12">
            <img class="img-responsive col-sm-4 td_img" src="__PUBLIC__/common/images/img1.png">
            <img class="img-responsive col-sm-4 td_img" src="__PUBLIC__/common/images/img2.png">
            <img class="img-responsive col-sm-4 td_img" src="__PUBLIC__/common/images/img3.png">
        </div>
    </div>
</div>
<footer>
    {include file='public/footer'}
</footer>
<!--侧边栏-->
{include file="public/sidebar"}


</body>
</html>