<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {include file='public/js'}
    <title>玫瑰沸腾</title>
</head>
<body>
<div>
    <header>
        {include file="public/header"}
    </header>

    <div class="col-md-12 col-lg-12 col-sm-12 carousel-box">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic"></li>
                <!-- data-slide-to="0" -->
                <li data-target="#carousel-example-generic"></li>
                <!-- data-slide-to="0" -->
                <li data-target="#carousel-example-generic"></li>
                <!-- data-slide-to="0" -->
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item">
                    <a href="cpzhongxin.html" target="_blank"><img src="__PUBLIC__/common/images/banner1.jpg"></a>
                   <!-- <div class="carousel-caption">
                        <h3>移动物联网产业联盟成立</h3>
                        <p>2017年6月12日，移动物联网产业联盟在江西鹰潭正式成立</p>
                    </div>-->
                </div>
                <div class="item">
                    <a href="" target="_blank"><img src="__PUBLIC__/common/images/banner3.jpg"></a>
                   <!-- <div class="carousel-caption">
                        <h3>移动物联网产业联盟全会</h3>
                        <p>2017年11月23-24日，移动物联网产业联盟第一次全会在重庆召开</p>
                    </div>-->
                </div>
                <div class="item">
                    <a href="" target="_blank"><img src="__PUBLIC__/common/images/banner4.jpg"></a>
                   <!-- <div class="carousel-caption">
                        <h3>创客中国“鹰潭杯”大赛</h3>
                        <p>2017年9月13-14日，2017年创客中国“鹰潭杯”移动物联网创新创业大赛在鹰潭隆重举行</p>
                    </div>-->
                </div>

            </div>
            <!-- Controls -->
           <!-- <a class="left carousel-control carousel_1_left" href="#carousel-example-generic" role="button" data-slide="prev">
                &lt;!&ndash;<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&ndash;&gt;
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="right carousel-control carousel_1_right" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>-->
        </div>
    </div>
    <script>
        $(function(){
            $(".carousel-inner").find(".item").eq(0).addClass("active")
            var oli = $(".carousel-indicators").find("li")
            $.each(oli, function (i, v) {
                if(i<=0){
                    $(v).addClass("active")
                }
                $(v).attr("data-slide-to", i)
            })

            $("#carousel-example-generic .item").touch_event({
                left: function () {
                    $(".carousel_1_right").click()
                },
                right: function () {
                    $(".carousel_1_left").click()
                }
            })
        })
    </script>
    <!--轮播图结束-->
    <!--主要内容-->
    <div class="container">
        <!--关于我们-->
        <div class="row guanyu">
            <div class="col-sm-6"  style="padding-top:25px;">
                <div class="row cp_margin">
                    <div class="titles title1">ABOUT US</div>
                    <div class="titles title2">关于我们</div>
                </div>
                <div class="row">
                    <p class="text-justify">上海藏星阁文化发展有限公司是一家独特的美酒文化培育和推广机构。
                        根植于公司创立者长期来对全世界葡萄品种、葡萄酒类型和风格、以及葡萄酒产区的考察、品鉴、学习和研究，
                        结合对中国饮食文化的品尝、理解和体会，致力将中西方美酒、美食文化二者完美融和。
                        公司现有品牌“玫瑰沸腾”（PopRose），
                        专注倡导和普及最炫丽、最浪漫、最时尚、最适合中国饮食文化的葡萄酒---玫瑰红。
                    </p>
                </div>
            </div>
            <div class="col-sm-6 guanyu-img"><img class="img-responsive pull-right " src="__PUBLIC__/common/images/guanyu.png"></div>
        </div>
    </div>
    <div class="cp-bg">
        <!--产品展示-->
        <div class="container">
            <div class="row text-center cp_margin">
                <div class="titles title1">PRODUCT DISPLAY</div>
                <div class="titles title2">产品展示</div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <!--轮播图-->
                    <div id="myCarousel2" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-12">
                                    <img class="col-sm-4 img-responsive center-block" src="__PUBLIC__/common/images/jiu-1.png" alt="">
                                    <div class="col-sm-8">
                                        <div class="col-sm-12 cp-zs">
                                            <div class="col-sm-12">
                                                <div class="Ackerman" >Ackerman Cabernet Franc Rose Brut</div>
                                                <div class="Ackerman Ackerman_font" style="text-align: center">埃克曼玫瑰起泡葡萄酒</div>
                                            </div>
                                            <div class="phonehide">
                                            <div class="col-sm-6">
                                                <p><b>产地：</b><span>法国</span></p>
                                                <p><b>年份：</b><span>2014</span></p>
                                                <p><b>品种：</b><span>品丽珠</span></p>
                                                <p><b>酒精度：</b><span>12%</span></p>
                                                <p><b>外观：</b><span>3.9</span></p>
                                                <p><b>香气：</b><span>9.5</span></p>
                                                <p><b>滋味：</b><span>14.4</span></p>
                                                <p><b>参考价格：</b><span style="color: #f60;">119.00 RMB </span></p>
                                                <p><b>酒品提供：</b><span>杭州鼎世贸易有限公司 </span></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p><b>总体质量：</b><span>5.8</span></p>
                                                <p><b>基本分：</b><span>60</span></p>
                                                <p><b>总评分：</b><span>84</span></p>
                                                <p class="cp-top-p">气泡充实、强烈，亮丽的三文鱼红色；有樱桃、青苹果的果香，较开放；入口有葡萄果味
                                                    ，果酸均匀；微甜，平衡性尚可。是一款淡雅的桃红起泡酒，建议作开胃酒，可搭配咸味烤饼或简单的沙拉。
                                                </p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-12">
                                    <img class="col-sm-4 img-responsive center-block" src="__PUBLIC__/common/images/jiu-2.png" alt="">
                                    <div class="col-sm-8">
                                        <div class="col-sm-12 cp-zs">
                                            <div class="col-sm-12">
                                                <div class="Ackerman">Ackerman Cabernet Franc Rose Brut</div>
                                                <div class="Ackerman Ackerman_font" style="text-align: center">埃克曼玫瑰起泡葡萄酒</div>
                                            </div>
                                            <div class="phonehide">
                                            <div class="col-sm-6 cp-top">
                                                <p><b>产地：</b><span>法国</span></p>
                                                <p><b>年份：</b><span>2014</span></p>
                                                <p><b>品种：</b><span>品丽珠</span></p>
                                                <p><b>酒精度：</b><span>12%</span></p>
                                                <p><b>外观：</b><span>3.9</span></p>
                                                <p><b>香气：</b><span>9.5</span></p>
                                                <p><b>滋味：</b><span>14.4</span></p>
                                                <p><b>参考价格：</b><span style="color: #f60;">119.00 RMB </span></p>
                                                <p><b>酒品提供：</b><span>杭州鼎世贸易有限公司 </span></p>
                                            </div>
                                            <div class="col-sm-6 cp-top">
                                                <div class="cols">
                                                    <p><b>总体质量：</b><span>5.8</span></p>
                                                    <p><b>基本分：</b><span>60</span></p>
                                                    <p><b>总评分：</b><span>84</span></p>
                                                </div>
                                                <p class="cp-top-p">气泡充实、强烈，亮丽的三文鱼红色；有樱桃、青苹果的果香，较开放；入口有葡萄果味
                                                    ，果酸均匀；微甜，平衡性尚可。是一款淡雅的桃红起泡酒，建议作开胃酒，可搭配咸味烤饼或简单的沙拉。
                                                </p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="item">
                                <div class="col-sm-12">
                                    <img class="col-sm-4 img-responsive center-block" src="__PUBLIC__/common/images/jiu-3.png" alt="">
                                    <div class="col-sm-8">
                                        <div class="col-sm-12 cp-zs">
                                            <div class="col-sm-12">
                                                <div class="Ackerman">Ackerman Cabernet Franc Rose Brut</div>
                                                <div class="Ackerman Ackerman_font" style="text-align: center">埃克曼玫瑰起泡葡萄酒</div>
                                            </div>
                                            <div class="phonehide">
                                            <div class="col-sm-6 cp-top">
                                                <p><b>产地：</b><span>法国</span></p>
                                                <p><b>年份：</b><span>2014</span></p>
                                                <p><b>品种：</b><span>品丽珠</span></p>
                                                <p><b>酒精度：</b><span>12%</span></p>
                                                <p><b>外观：</b><span>3.9</span></p>
                                                <p><b>香气：</b><span>9.5</span></p>
                                                <p><b>滋味：</b><span>14.4</span></p>
                                                <p><b>参考价格：</b><span style="color: #f60;">119.00 RMB </span></p>
                                                <p><b>酒品提供：</b><span>杭州鼎世贸易有限公司 </span></p>
                                            </div>
                                            <div class="col-sm-6 cp-top">
                                                <div class="cols">
                                                    <p><b>总体质量：</b><span>5.8</span></p>
                                                    <p><b>基本分：</b><span>60</span></p>
                                                    <p><b>总评分：</b><span>84</span></p>
                                                </div>
                                                <p class="cp-top-p">气泡充实、强烈，亮丽的三文鱼红色；有樱桃、青苹果的果香，较开放；入口有葡萄果味
                                                    ，果酸均匀；微甜，平衡性尚可。是一款淡雅的桃红起泡酒，建议作开胃酒，可搭配咸味烤饼或简单的沙拉。
                                                </p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="item">
                                <div class="col-sm-12">
                                    <img class="col-sm-4 img-responsive center-block" src="__PUBLIC__/common/images/jiu-4.png" alt="">
                                    <div class="col-sm-8">
                                        <div class="col-sm-12 cp-zs">
                                            <div class="col-sm-12">
                                                <div class="Ackerman">Ackerman Cabernet Franc Rose Brut</div>
                                                <div class="Ackerman Ackerman_font" style="text-align: center">埃克曼玫瑰起泡葡萄酒</div>
                                            </div>
                                            <div class="phonehide">
                                            <div class="col-sm-6 cp-top">
                                                <p><b>产地：</b><span>法国</span></p>
                                                <p><b>年份：</b><span>2014</span></p>
                                                <p><b>品种：</b><span>品丽珠</span></p>
                                                <p><b>酒精度：</b><span>12%</span></p>
                                                <p><b>外观：</b><span>3.9</span></p>
                                                <p><b>香气：</b><span>9.5</span></p>
                                                <p><b>滋味：</b><span>14.4</span></p>
                                                <p><b>参考价格：</b><span style="color: #f60;">119.00 RMB </span></p>
                                                <p><b>酒品提供：</b><span>杭州鼎世贸易有限公司 </span></p>
                                            </div>
                                            <div class="col-sm-6 cp-top">
                                                <div class="cols">
                                                    <p><b>总体质量：</b><span>5.8</span></p>
                                                    <p><b>基本分：</b><span>60</span></p>
                                                    <p><b>总评分：</b><span>84</span></p>
                                                </div>
                                                <p class="cp-top-p">气泡充实、强烈，亮丽的三文鱼红色；有樱桃、青苹果的果香，较开放；入口有葡萄果味
                                                    ，果酸均匀；微甜，平衡性尚可。是一款淡雅的桃红起泡酒，建议作开胃酒，可搭配咸味烤饼或简单的沙拉。
                                                </p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="item">
                                <div class="col-sm-12">
                                    <img class="col-sm-4 img-responsive center-block" src="__PUBLIC__/common/images/jiu-5.png" alt="">
                                    <div class="col-sm-8">
                                        <div class="col-sm-12 cp-zs">
                                            <div class="col-sm-12">
                                                <div class="Ackerman">Ackerman Cabernet Franc Rose Brut</div>
                                                <div class="Ackerman Ackerman_font" style="text-align: center">埃克曼玫瑰起泡葡萄酒</div>
                                            </div>
                                            <div class="phonehide">
                                            <div class="col-sm-6 cp-top">
                                                <p><b>产地：</b><span>法国</span></p>
                                                <p><b>年份：</b><span>2014</span></p>
                                                <p><b>品种：</b><span>品丽珠</span></p>
                                                <p><b>酒精度：</b><span>12%</span></p>
                                                <p><b>外观：</b><span>3.9</span></p>
                                                <p><b>香气：</b><span>9.5</span></p>
                                                <p><b>滋味：</b><span>14.4</span></p>
                                                <p><b>参考价格：</b><span style="color: #f60;">119.00 RMB </span></p>
                                                <p><b>酒品提供：</b><span>杭州鼎世贸易有限公司 </span></p>
                                            </div>
                                            <div class="col-sm-6 cp-top">
                                                <div class="cols">
                                                    <p><b>总体质量：</b><span>5.8</span></p>
                                                    <p><b>基本分：</b><span>60</span></p>
                                                    <p><b>总评分：</b><span>84</span></p>
                                                </div>
                                                <p class="cp-top-p">气泡充实、强烈，亮丽的三文鱼红色；有樱桃、青苹果的果香，较开放；入口有葡萄果味
                                                    ，果酸均匀；微甜，平衡性尚可。是一款淡雅的桃红起泡酒，建议作开胃酒，可搭配咸味烤饼或简单的沙拉。
                                                </p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--<div class="item">
                                <img class="img-responsive center-block" src="__PUBLIC__/common/images/cp-jiu1.png" alt="">
                            </div>-->
                        </div>
                        <!--左右按钮-->
                        <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                            <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
                            <img class="img-responsive" src="__PUBLIC__/common/images/left.png">
                        </a>
                        <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                            <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
                            <img class="img-responsive pull-right" src="__PUBLIC__/common/images/right.png">
                        </a>
                    </div>
                </div>

            </div>
            <div class="row btnprimary">
                <div class="btn-more"><a href="{:url('home/index/cpzhongxin')}" target="_blank">查看更多</a></div>
            </div>
        </div>

    </div>
    <div class="container">
        <!--红酒资讯-->
        <div class="row text-center cp_margin" style="margin-top:30px;">
            <div class="titles title1">RED WINE INFORMETION</div>
            <div class="titles title2">红酒资讯</div>
        </div>
        <div class="row  zx-margin">
            <div class="col-sm-4">
                <a href="{:url('home/index/ZXxianqin')}" target="_blank"><img class="img-responsive center-block" src="__PUBLIC__/common/images/zx-1.png"></a>

                <div class="zx-title">
                    <h5>具有优雅的花香及酒香</h5>
                    <p><u>2018.01.01</u></p>
                    <p class="overflow overflow-3">
                        <a href="{:url('home/index/ZXxianqin')}" target="_blank">这款来自法国勃艮第的起泡酒拥有澄清的玫瑰红色，泡沫细腻且持续性较好；隐隐的花香较为清淡；入口略甜，酒体较沉，平衡性良好，回味偏短；建议尽快饮用。
                            　　酒色呈漂亮的玫瑰红色，晶亮透明，具有优雅的花香及酒香，酒体有骨架感，平衡性良好，入口圆润丰满，后味较长，是一款较具典型性的桃红葡萄酒。
                            　　酒色呈漂亮的玫瑰红色，晶亮透明，具有优雅的花香及酒香，酒体有骨架感，平衡性良好，入口圆润丰满，后味较长，是一款较具典型性的桃红葡萄酒。
                        </a>
                    </p>
                </div>

            </div>
            <div class="col-sm-4">
                <a href="{:url('home/index/ZXxianqin')}" target="_blank"><img class="img-responsive center-block" src="__PUBLIC__/common/images/zx-2.png"></a>

                <div class="zx-title">
                    <h5>具有优雅的花香及酒香</h5>
                    <p><u>2018.01.01</u></p>
                    <p class="overflow overflow-3">
                        <a href="{:url('home/index/ZXxianqin')}" target="_blank">这款来自法国勃艮第的起泡酒拥有澄清的玫瑰红色，泡沫细腻且持续性较好；隐隐的花香较为清淡；入口略甜，酒体较沉，平衡性良好，回味偏短；建议尽快饮用。
                            　　酒色呈漂亮的玫瑰红色，晶亮透明，具有优雅的花香及酒香，酒体有骨架感，平衡性良好，入口圆润丰满，后味较长，是一款较具典型性的桃红葡萄酒。
                            　　酒色呈漂亮的玫瑰红色，晶亮透明，具有优雅的花香及酒香，酒体有骨架感，平衡性良好，入口圆润丰满，后味较长，是一款较具典型性的桃红葡萄酒。
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <a href="{:url('home/index/ZXxianqin')}" target="_blank"><img class="img-responsive center-block" src="__PUBLIC__/common/images/zx-3.png"></a>
                <div class="zx-title">
                    <h5>具有优雅的花香及酒香</h5>
                    <p><u>2018.01.01</u></p>
                    <p class="overflow overflow-3">
                        <a href="{:url('home/index/ZXxianqin')}" target="_blank">这款来自法国勃艮第的起泡酒拥有澄清的玫瑰红色，泡沫细腻且持续性较好；隐隐的花香较为清淡；入口略甜，酒体较沉，平衡性良好，回味偏短；建议尽快饮用。
                            　　酒色呈漂亮的玫瑰红色，晶亮透明，具有优雅的花香及酒香，酒体有骨架感，平衡性良好，入口圆润丰满，后味较长，是一款较具典型性的桃红葡萄酒。
                            　　酒色呈漂亮的玫瑰红色，晶亮透明，具有优雅的花香及酒香，酒体有骨架感，平衡性良好，入口圆润丰满，后味较长，是一款较具典型性的桃红葡萄酒。
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row zx-margin">
            <div class="col-sm-4">
                <a href="{:url('home/index/ZXxianqin')}" target="_blank"><img class="img-responsive center-block" src="__PUBLIC__/common/images/zx-4.png"></a>

                <div class="zx-title">
                    <h5>具有优雅的花香及酒香</h5>
                    <p><u>2018.01.01</u></p>
                    <p class="overflow overflow-3">
                        <a href="{:url('home/index/ZXxianqin')}" target="_blank">这款来自法国勃艮第的起泡酒拥有澄清的玫瑰红色，泡沫细腻且持续性较好；隐隐的花香较为清淡；入口略甜，酒体较沉，平衡性良好，回味偏短；建议尽快饮用。
                            　　酒色呈漂亮的玫瑰红色，晶亮透明，具有优雅的花香及酒香，酒体有骨架感，平衡性良好，入口圆润丰满，后味较长，是一款较具典型性的桃红葡萄酒。
                            　　酒色呈漂亮的玫瑰红色，晶亮透明，具有优雅的花香及酒香，酒体有骨架感，平衡性良好，入口圆润丰满，后味较长，是一款较具典型性的桃红葡萄酒。
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <a href="{:url('home/index/ZXxianqin')}" target="_blank"><img class="img-responsive center-block" src="__PUBLIC__/common/images/zx-5.png"></a>

                <div class="zx-title">
                    <h5>具有优雅的花香及酒香</h5>
                    <p><u>2018.01.01</u></p>
                    <p class="overflow overflow-3">
                        <a href="{:url('home/index/ZXxianqin')}" target="_blank">这款来自法国勃艮第的起泡酒拥有澄清的玫瑰红色，泡沫细腻且持续性较好；隐隐的花香较为清淡；入口略甜，酒体较沉，平衡性良好，回味偏短；建议尽快饮用。
                            　　酒色呈漂亮的玫瑰红色，晶亮透明，具有优雅的花香及酒香，酒体有骨架感，平衡性良好，入口圆润丰满，后味较长，是一款较具典型性的桃红葡萄酒。
                            　　酒色呈漂亮的玫瑰红色，晶亮透明，具有优雅的花香及酒香，酒体有骨架感，平衡性良好，入口圆润丰满，后味较长，是一款较具典型性的桃红葡萄酒。
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <a href="{:url('home/index/ZXxianqin')}" target="_blank"><img class="img-responsive center-block" src="__PUBLIC__/common/images/zx-6.png"></a>
                <div class="zx-title">
                    <h5>具有优雅的花香及酒香</h5>
                    <p><u>2018.01.01</u></p>
                    <p class="overflow overflow-3">
                        <a href="{:url('home/index/ZXxianqin')}" target="_blank">这款来自法国勃艮第的起泡酒拥有澄清的玫瑰红色，泡沫细腻且持续性较好；隐隐的花香较为清淡；入口略甜，酒体较沉，平衡性良好，回味偏短；建议尽快饮用。
                            　　酒色呈漂亮的玫瑰红色，晶亮透明，具有优雅的花香及酒香，酒体有骨架感，平衡性良好，入口圆润丰满，后味较长，是一款较具典型性的桃红葡萄酒。
                            　　酒色呈漂亮的玫瑰红色，晶亮透明，具有优雅的花香及酒香，酒体有骨架感，平衡性良好，入口圆润丰满，后味较长，是一款较具典型性的桃红葡萄酒。
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row btnprimary" style="margin-bottom:30px;">
            <div class="btn-more"><a href="{:url('home/index/zhixun')}" target="_blank">查看更多</a></div>
        </div>
    </div>
</div>
<footer>
    {include file="public/footer"}
</footer>
<!--侧边栏-->
{include file="public/sidebar"}
</body>
</html>