<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {include file='public/js'}
    <title>玫瑰沸腾</title>
</head>
<body>
<div>
    <header>
        {include file="public/header"}
    </header>

    <div class="col-md-12 col-lg-12 col-sm-12 carousel-box">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic"></li>
                <!-- data-slide-to="0" -->
                <li data-target="#carousel-example-generic"></li>
                <!-- data-slide-to="0" -->
                <li data-target="#carousel-example-generic"></li>
                <!-- data-slide-to="0" -->
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item">
                    <a href="cpzhongxin.html" target="_blank"><img src="__PUBLIC__/common/images/banner1.jpg"></a>
                   <!-- <div class="carousel-caption">
                        <h3>移动物联网产业联盟成立</h3>
                        <p>2017年6月12日，移动物联网产业联盟在江西鹰潭正式成立</p>
                    </div>-->
                </div>
                <div class="item">
                    <a href="" target="_blank"><img src="__PUBLIC__/common/images/banner3.jpg"></a>
                   <!-- <div class="carousel-caption">
                        <h3>移动物联网产业联盟全会</h3>
                        <p>2017年11月23-24日，移动物联网产业联盟第一次全会在重庆召开</p>
                    </div>-->
                </div>
                <div class="item">
                    <a href="" target="_blank"><img src="__PUBLIC__/common/images/banner4.jpg"></a>
                   <!-- <div class="carousel-caption">
                        <h3>创客中国“鹰潭杯”大赛</h3>
                        <p>2017年9月13-14日，2017年创客中国“鹰潭杯”移动物联网创新创业大赛在鹰潭隆重举行</p>
                    </div>-->
                </div>

            </div>
            <!-- Controls -->
           <!-- <a class="left carousel-control carousel_1_left" href="#carousel-example-generic" role="button" data-slide="prev">
                &lt;!&ndash;<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&ndash;&gt;
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="right carousel-control carousel_1_right" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>-->
        </div>
    </div>
    <script>
        $(function(){
            $(".carousel-inner").find(".item").eq(0).addClass("active")
            var oli = $(".carousel-indicators").find("li")
            $.each(oli, function (i, v) {
                if(i<=0){
                    $(v).addClass("active")
                }
                $(v).attr("data-slide-to", i)
            })

            $("#carousel-example-generic .item").touch_event({
                left: function () {
                    $(".carousel_1_right").click()
                },
                right: function () {
                    $(".carousel_1_left").click()
                }
            })
        })
    </script>
    <!--轮播图结束-->
    <!--主要内容-->
    <div class="container">
        <!--关于我们-->
        <div class="row guanyu">
            <div class="col-sm-6"  style="padding-top:25px;">
                <div class="row cp_margin">
                    <div class="titles title1">ABOUT US</div>
                    <div class="titles title2">关于我们</div>
                </div>
                <div class="row">
                    <p class="text-justify">上海藏星阁文化发展有限公司是一家独特的美酒文化培育和推广机构。
                        根植于公司创立者长期来对全世界葡萄品种、葡萄酒类型和风格、以及葡萄酒产区的考察、品鉴、学习和研究，
                        结合对中国饮食文化的品尝、理解和体会，致力将中西方美酒、美食文化二者完美融和。
                        公司现有品牌“玫瑰沸腾”（PopRose），
                        专注倡导和普及最炫丽、最浪漫、最时尚、最适合中国饮食文化的葡萄酒---玫瑰红。
                    </p>
                </div>
            </div>
            <div class="col-sm-6 guanyu-img"><img class="img-responsive pull-right " src="__PUBLIC__/common/images/guanyu.png"></div>
        </div>
    </div>
    <div class="cp-bg">
        <!--产品展示-->
        <div class="container">
            <div class="row text-center cp_margin">
                <div class="titles title1">PRODUCT DISPLAY</div>
                <div class="titles title2">产品展示</div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <!--轮播图-->
                    <div id="myCarousel2" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-12">
                                    <img class="col-sm-4 img-responsive center-block" src="__PUBLIC__/common/images/jiu-1.png" alt="">
                                    <div class="col-sm-8">
                                        <div class="col-sm-12 cp-zs">
                                            <div class="col-sm-12">
                                                <div class="Ackerman font-box" >Ackerman Cabernet Franc Rose Brut</div>
                                                <div class="Ackerman Ackerman_font font-box">埃克曼玫瑰起泡葡萄酒</div>
                                            </div>
                                            <div class="phonehide">
                                            <div class="col-sm-6">
                                                <p><b>产地：</b><span>法国</span></p>
                                                <p><b>年份：</b><span>2014</span></p>
                                                <p><b>品种：</b><span>品丽珠</span></p>
                                                <p><b>酒精度：</b><span>12%</span></p>
                                                <p><b>外观：</b><span>3.9</span></p>
                                                <p><b>香气：</b><span>9.5</span></p>
                                                <p><b>滋味：</b><span>14.4</span></p>
                                                <p><b>参考价格：</b><span style="color: #f60;">暂无详情</span></p>
                                                <p><b>酒品提供：</b><span>暂无详情 </span></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p><b>总体质量：</b><span>5.8</span></p>
                                                <p><b>基本分：</b><span>60</span></p>
                                                <p><b>总评分：</b><span>84</span></p>
                                                <p class="cp-top-p">气泡充实、强烈，亮丽的三文鱼红色；有樱桃、青苹果的果香，较开放；入口有葡萄果味
                                                    ，果酸均匀；微甜，平衡性尚可。是一款淡雅的桃红起泡酒，建议作开胃酒，可搭配咸味烤饼或简单的沙拉。
                                                </p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-12">
                                    <img class="col-sm-4 img-responsive center-block" src="__PUBLIC__/common/images/jiu-2.png" alt="">
                                    <div class="col-sm-8">
                                        <div class="col-sm-12 cp-zs">
                                            <div class="col-sm-12">
                                                <div class="Ackerman font-box">ACharles de Fere Reserve Rose Dry</div>
                                                <div class="Ackerman Ackerman_font font-box">迪费极品玫瑰红起泡葡萄酒 </div>
                                            </div>
                                            <div class="phonehide">
                                            <div class="col-sm-6 cp-top">
                                                <p><b>产地：</b><span>法国――勃艮第 </span></p>
                                                <p><b>年份：</b><span>NV</span></p>
                                                <p><b>品种：</b><span>格洛斯罗（Groslot）赤霞珠 </span></p>
                                                <p><b>酒精度：</b><span>12%</span></p>
                                                <p><b>外观：</b><span>3.9</span></p>
                                                <p><b>香气：</b><span>9.5</span></p>
                                                <p><b>滋味：</b><span>14.4</span></p>
                                                <p><b>参考价格：</b><span style="color: #f60;">暂无详情</span></p>
                                                <p><b>酒品提供：</b><span>暂无详情</span></p>
                                            </div>
                                            <div class="col-sm-6 cp-top">
                                                <div class="cols">
                                                    <p><b>总体质量：</b><span>5.8</span></p>
                                                    <p><b>基本分：</b><span>50</span></p>
                                                    <p><b>总评分：</b><span>85</span></p>
                                                </div>
                                                <p class="cp-top-p">酒色呈鲑鱼红色，丰富细腻的泡沫，果香明显，有红色水果及坚果味道；入口浓郁，爽净度和酸度良好，
                                                    平衡性佳，收口优雅，回味持久，是一款不错的桃红葡萄酒，建议立即享用。
                                                </p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="item">
                                <div class="col-sm-12">
                                    <img class="col-sm-4 img-responsive center-block" src="__PUBLIC__/common/images/jiu-3.png" alt="">
                                    <div class="col-sm-8">
                                        <div class="col-sm-12 cp-zs">
                                            <div class="col-sm-12">
                                                <div class="Ackerman font-box">Wente - White Zinfandel</div>
                                                <div class="Ackerman Ackerman_font font-box">威迪庄园-粉红仙粉黛葡萄酒 </div>
                                            </div>
                                            <div class="phonehide">
                                            <div class="col-sm-6 cp-top">
                                                <p><b>产地：</b><span>美国――加利福尼亚</span></p>
                                                <p><b>年份：</b><span>2006</span></p>
                                                <p><b>品种：</b><span>100%增芳德 </span></p>
                                                <p><b>酒精度：</b><span>10.6%</span></p>
                                                <p><b>外观：</b><span>3.9</span></p>
                                                <p><b>香气：</b><span>9.5</span></p>
                                                <p><b>滋味：</b><span>14.4</span></p>
                                                <p><b>参考价格：</b><span style="color: #f60;">暂无详情 </span></p>
                                                <p><b>酒品提供：</b><span>暂无详情 </span></p>
                                            </div>
                                            <div class="col-sm-6 cp-top">
                                                <div class="cols">
                                                    <p><b>总体质量：</b><span>5.8</span></p>
                                                    <p><b>基本分：</b><span>60</span></p>
                                                    <p><b>总评分：</b><span>84</span></p>
                                                </div>
                                                <p class="cp-top-p">　酒色呈桃红色，晶莹透亮；果香优雅，后味伴有少许奶油香，香气细腻，有一定层次感，入口甜润
                                                    ，酒体活泼；甜味稍重，影响酒体活力，回味略短；可立即饮用，具有理想的桃红典型性。
                                                </p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="item">
                                <div class="col-sm-12">
                                    <img class="col-sm-4 img-responsive center-block" src="__PUBLIC__/common/images/jiu-4.png" alt="">
                                    <div class="col-sm-8">
                                        <div class="col-sm-12 cp-zs">
                                            <div class="col-sm-12">
                                                <div class="Ackerman font-box">French Paradox Cabernet Rose</div>
                                                <div class="Ackerman Ackerman_font font-box">茗酊古堡-卡本内玫瑰葡萄酒</div>
                                            </div>
                                            <div class="phonehide">
                                            <div class="col-sm-6 cp-top">
                                                <p><b>产地：</b><span>法国――南部 </span></p>
                                                <p><b>年份：</b><span>2006</span></p>
                                                <p><b>品种：</b><span>赤霞珠 </span></p>
                                                <p><b>酒精度：</b><span>12.5%</span></p>
                                                <p><b>外观：</b><span>3.9</span></p>
                                                <p><b>香气：</b><span>9.5</span></p>
                                                <p><b>滋味：</b><span>14.4</span></p>
                                                <p><b>参考价格：</b><span style="color: #f60;">暂无详情</span></p>
                                                <p><b>酒品提供：</b><span>暂无详情 </span></p>
                                            </div>
                                            <div class="col-sm-6 cp-top">
                                                <div class="cols">
                                                    <p><b>总体质量：</b><span>5.3</span></p>
                                                    <p><b>基本分：</b><span>50</span></p>
                                                    <p><b>总评分：</b><span>81</span></p>
                                                </div>
                                                <p class="cp-top-p">　酒色呈浅橘红色，澄清透明，果香较浓郁、突出，有甜瓜、焦糖香气，层次感尚可，酒体较完整，
                                                    略欠饱满，偏酸，但平衡性尚可，后味较短；具有一定陈酿潜力。
                                                </p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="item">
                                <div class="col-sm-12">
                                    <img class="col-sm-4 img-responsive center-block" src="__PUBLIC__/common/images/jiu-5.png" alt="">
                                    <div class="col-sm-8">
                                        <div class="col-sm-12 cp-zs">
                                            <div class="col-sm-12">
                                                <div class="Ackerman font-box">Aime Roquesante Ctes de Provence</div>
                                                <div class="Ackerman Ackerman_font font-box">艾美罗斯坦玫瑰葡萄酒 </div>
                                            </div>
                                            <div class="phonehide">
                                            <div class="col-sm-6 cp-top">
                                                <p><b>产地：</b><span>法国――普罗旺斯 </span></p>
                                                <p><b>年份：</b><span>2006</span></p>
                                                <p><b>品种：</b><span>神索（Cinsault） 西拉 </span></p>
                                                <p><b>酒精度：</b><span>12%</span></p>
                                                <p><b>外观：</b><span>3.9</span></p>
                                                <p><b>香气：</b><span>9.5</span></p>
                                                <p><b>滋味：</b><span>14.4</span></p>
                                                <p><b>参考价格：</b><span style="color: #f60;">暂无详情</span></p>
                                                <p><b>酒品提供：</b><span>暂无详情 </span></p>
                                            </div>
                                            <div class="col-sm-6 cp-top">
                                                <div class="cols">
                                                    <p><b>总体质量：</b><span>6.3</span></p>
                                                    <p><b>基本分：</b><span>50</span></p>
                                                    <p><b>总评分：</b><span>85</span></p>
                                                </div>
                                                <p class="cp-top-p">酒色呈鲑鱼红色，果香和酒香浓郁、明显，有红色果实的味道，层次感丰富；酒体饱满，似水果的新鲜口感，酒精度略高但不失平衡，
                                                    回味持久悠长。是一款平衡易饮的桃红葡萄酒。
                                                </p>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--<div class="item">
                                <img class="img-responsive center-block" src="__PUBLIC__/common/images/cp-jiu1.png" alt="">
                            </div>-->
                        </div>
                        <!--左右按钮-->
                        <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                            <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
                            <img class="img-responsive" src="__PUBLIC__/common/images/left.png">
                        </a>
                        <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                            <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
                            <img class="img-responsive pull-right" src="__PUBLIC__/common/images/right.png">
                        </a>
                    </div>
                </div>

            </div>
            <div class="row btnprimary">
                <div class="btn-more"><a href="{:url('home/index/cpzhongxin')}" target="_blank">查看更多</a></div>
            </div>
        </div>

    </div>
    <div class="container">
        <!--红酒资讯-->
        <div class="row text-center cp_margin" style="margin-top:30px;">
            <div class="titles title1">RED WINE INFORMETION</div>
            <div class="titles title2">红酒资讯</div>
        </div>
        <div class="row  zx-margin">
            <div class="col-sm-4">
                <a href="{:url('home/index/ZXxianqin')}" target="_blank"><img class="img-responsive center-block" src="__PUBLIC__/common/images/zx-1.png"></a>

                <div class="zx-title">
                    <h5>赤霞珠（Cabernet Sauvignon）</h5>
                    <p><u>2018.01.01</u></p>
                    <p class="overflow overflow-3">
                        <a href="{:url('home/index/ZXxianqin')}" target="_blank">作为世界上最著名的红葡萄品种，赤霞珠（Cabernet Sauvignon）的历史并不是特别悠久。
                            它与梅洛（Merlot）一起堪称世界上种植面积最广泛的两种深色葡萄品种，二者的种植面积不相上下。赤霞珠的起源一直以来是一个谜。1996年，加州大学戴维斯分校
                            （UC Davis）葡萄种植与酿造学部门（UC Davis Department of Viticulture and Enology）的卡罗尔·梅雷迪斯博士（Dr. Carole Meredith）带领的研
                            究团队通过DNA分型发现了赤霞珠的真正起源。研究结果显示，赤霞珠正是由品丽珠（Cabernet Franc）和波尔多（Bordeaux）白葡萄品种长相思（Sauvignon Blanc）
                            在17世纪时通过自然杂交形成。这就解释了为什么赤霞珠的香气与其父母本如此相似，也解释了为什么品丽珠在文献记录中出现的时间比赤霞珠更早。

                        </a>
                    </p>
                </div>

            </div>
            <div class="col-sm-4">
                <a href="{:url('home/index/ZXxianqin')}" target="_blank"><img class="img-responsive center-block" src="__PUBLIC__/common/images/zx-2.png"></a>

                <div class="zx-title">
                    <h5>黑皮诺（Pinot Noir）</h5>
                    <p><u>2018.01.01</u></p>
                    <p class="overflow overflow-3">
                        <a href="{:url('home/index/ZXxianqin')}" target="_blank">黑皮诺（Pinot Noir）很可能原产自法国东北部，并在欧洲广泛种植。在罗马统治时代之前，
                            高卢人就在勃艮第（Burgundy）地区种植黑皮诺，黑皮诺在该地区表现最好，也最为世人称道。截至1995年科学家共培育出近800个黑皮诺克隆系。品种特征和生长条件：
                            黑皮诺是主要红葡萄品种中被公认为最挑剔、最难照料的品种，它对成长环境的要求较高，属早熟型，产量小且不稳定，适合较寒冷气候，在石灰黏土中生长最佳，其幼叶呈黄
                            绿色，成叶深绿色、呈鸡冠状.黑皮诺抗病性较弱，极易感染白腐病、灰霉病、卷叶病毒和皮尔斯病毒。种植时，应选用健康苗木，采用篱架栽培。黑皮诺在成熟期易落粒，因此
                            在多雨年份要及时采收.通常黑皮诺颜色较浅，呈浅宝石红色，气味是不浓不淡的果香与花香。常闻到的是樱桃、莓果、梅子、黑醋栗、香料、玫瑰花或其他花香。其酿造的葡萄
                            酒年轻时主要以樱桃、草莓、覆盆子等红色水果香为主；陈酿后，又会出现甘草和煮熟的甜菜头的风味；陈酿若干年后，带有隐约的动物和松露香，还有甘草等香辛料的香味。
                            黑皮诺通常用来酿造干红和起泡酒，它是香槟（Champagne）产区的法定品种之一，用来酿造起泡酒。
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <a href="{:url('home/index/ZXxianqin')}" target="_blank"><img class="img-responsive center-block" src="__PUBLIC__/common/images/zx-3.png"></a>
                <div class="zx-title">
                    <h5>雷司令（Riesling）</h5>
                    <p><u>2018.01.01</u></p>
                    <p class="overflow overflow-3">
                        <a href="{:url('home/index/ZXxianqin')}" target="_blank">雷司令（Riesling）是德国最古老的葡萄品种之一，该品种于1435年第一次在文献中被提及，
                            很可能起源于德国的莱茵高（Rheingau）地区。DNA检测结果表明，雷司令与西欧最古老、多产的葡萄品种之一——白高维斯（Gouais Blanc）之间存在亲子关系。
                            因为白高维斯同时还与霞多丽（Chardonnay）、佳美（Gamay）和艾伯灵（Elbling）等至少8个葡萄品种存在亲子关系，因而雷司令也与这些品种或多或少存在着“血缘关系”。
                            值得注意的一点是，雷司令与威尔士雷司令（Welschriesling）、意大利雷司令（Riesling Italico）、巴纳特雷司令（Banat Riesling）和开普雷司令
                            （Cape Riesling）等名字中带“雷司令”的葡萄品种没有任何亲缘关系。品种特征和生长条件：雷司令香气浓郁，是一种能够反映土壤特征的葡萄品种。其发芽较晚，
                            因此常免受春季霜冻的威胁。根据酿酒风格的不同，雷司令的采收时间和成熟度也会不同。该品种葡萄藤木质坚硬，因而十分耐寒，这让它成为寒冷产区的首选葡萄品种，
                            但它也需要种植在最合适的选址才能完全成熟。雷司令在产量达到近7,000公升/公顷时仍可保持高品质，且十分耐霜霉病，但较易感染白粉病和贵腐菌。
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row zx-margin">
            <div class="col-sm-4">
                <a href="{:url('home/index/ZXxianqin')}" target="_blank"><img class="img-responsive center-block" src="__PUBLIC__/common/images/zx-4.png"></a>

                <div class="zx-title">
                    <h5>梅洛（Merlot）</h5>
                    <p><u>2018.01.01</u></p>
                    <p class="overflow overflow-3">
                        <a href="{:url('home/index/ZXxianqin')}" target="_blank">梅洛（Merlot）的原产地是法国，其最早的文献记载可追溯到1783年左右，流传于吉伦特省
                            （Gironde）的利布尔讷市（Libourne），“Merlau可以酿造颜色深浓的绝妙的美酒，适合在富饶的土壤中生长”。梅洛也曾被人们唤作“河里的葡萄苗”，因为人们普
                            遍认为，梅洛是诞生在加龙河（Garonne）中的一个岛屿上。直到1824年，梅洛才正式更名为现在使用的名字——Merlot。1999年，DNA的亲子鉴定证明品丽珠
                            （Cabernet Franc）是梅洛的双亲之一，而梅洛的另一个亲本在2009年时被证实是一种叫做“Magdeleine Noire des Charentes”的极为少见的原生葡萄品种。
                            后来，根据DNA检测结果分析，品丽珠是梅洛的父本，而另一品种是其母本。因此，梅洛与赤霞珠（Cabernet Sauvignon）和佳美娜（Carmenere）等品种都是半同胞关系。
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <a href="{:url('home/index/ZXxianqin')}" target="_blank"><img class="img-responsive center-block" src="__PUBLIC__/common/images/zx-5.png"></a>

                <div class="zx-title">
                    <h5>霞多丽（Chardonnay）</h5>
                    <p><u>2018.01.01</u></p>
                    <p class="overflow overflow-3">
                        <a href="{:url('home/index/ZXxianqin')}" target="_blank">霞多丽（Chardonnay）原产于法国索恩鲁瓦尔省（Saone-et-Loire），里昂（Lyon）和第戎
                            （Dijon）之间，主要在金丘（Cote d' Or）、索恩鲁瓦尔（Saone-et-Loire）和马恩（Marne）产区。该品种在17世纪就有种植记录，得名于勃艮第南部马贡
                            （Maconnais）产区的霞多丽村。霞多丽在历史上有多个拼法，如“Chardenet”、“Chardonnet”和“Chardenay” 等等，直到20世纪才被称作“Chardonnay”。
                            DNA分析显示霞多丽其实是白高维斯（Gouais Blanc）和皮诺（Pinot）的自然杂交品种，亲系包括黑佳美（Gamay Noir），甜瓜（Melon）和阿里高特（Aligote），
                            这也解释了为什么人们容易把霞多丽和阿里高特、白皮诺（Pinot Blanc）混淆。品种特征和生长条件：霞多丽皮薄，属于早开花和早熟的葡萄品种，适合种植在石灰岩和钙
                            质黏土上，易遭受春季霜冻危害，也容易出现座果不良和成熟不均的现象。目前勃艮第就有28个霞多丽克隆品种。
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <a href="{:url('home/index/ZXxianqin')}" target="_blank"><img class="img-responsive center-block" src="__PUBLIC__/common/images/zx-6.png"></a>
                <div class="zx-title">
                    <h5>长相思（Sauvignon Blanc）</h5>
                    <p><u>2018.01.01</u></p>
                    <p class="overflow overflow-3">
                        <a href="{:url('home/index/ZXxianqin')}" target="_blank">作为一个芳香型的白葡萄品种，长相思（Sauvignon Blanc）的香气与红葡萄品种赤霞珠
                            （Cabernet Sauvignon）有几分相似，都有类似于草本植物的香气。1997年，DNA检测证实品丽珠（Cabernet Franc）和长相思是赤霞珠的双亲，而在18世纪左右，
                            长相思和品丽珠在波尔多（Bordeaux）葡萄园里自然杂交产生了赤霞珠，因此，长相思的起源地常被认为是波尔多。然而事实上，长相思最早于1534年在卢瓦尔河谷
                            （Loire Valley）被提及。如今，奥地利进行的DNA检测进一步表明，长相思的起源可能与白诗南（Chenin Blanc）及塔明娜（Traminer）有关。
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row btnprimary" style="margin-bottom:30px;">
            <div class="btn-more"><a href="{:url('home/index/zhixun')}" target="_blank">查看更多</a></div>
        </div>
    </div>
</div>
<footer>
    {include file="public/footer"}
</footer>
<!--侧边栏-->
{include file="public/sidebar"}
</body>
</html>