<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    {include file="public/js"}
    <title>联系我们</title>
    <style type="text/css">

    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=dYvdoiRD3W5IGIzQmbFqfp6GBbm4q2hu"></script>
    <link rel="shortcut icon" href="__PUBLIC__/common/images/logo.png">
</head>
<body>
<header>
    {include file="public/header"}
</header>
<div class="banner">
    <a href="#">
        <img class="img-responsive" src="__PUBLIC__/common/images/banner2.jpg">
    </a>
</div>
<div class="container">
    <div class="row guanyu">
        <div class="row col-sm-12" style="text-align: center;padding:0;">
            <div class="titles title1">CONTACT US</div>
            <div class="titles title2">联系我们</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-4 text-center lx-title pic">
            <img class="img-responsive center-block" src="__PUBLIC__/common/images/tel.png">
            <p>电话</p>
            <p style="margin:0 -10px 15px;">021-58356282</p>
        </div>
        <div class="col-sm-4 col-xs-4 text-center lx-title pic">
            <img class="img-responsive center-block" src="__PUBLIC__/common/images/address.png">
            <p>地址</p>
            <p style="margin: 0 -10px 15px;">上海浦东新区新金桥路1122号1910-1911室</p>
        </div>
        <div class="col-sm-4 col-xs-4 text-center lx-title pic">
            <img class="img-responsive center-block" src="__PUBLIC__/common/images/email.png">
            <p>邮箱</p>
            <p style="margin: 0 -12px 15px;">david@poprose.cn</p>
        </div>
    </div>

    <div class="row" >
        <div class="ditu" id="allmap">
            <!--<img src="__PUBLIC__/common/images/map2.png" alt="">-->
        </div>
    </div>
    <div class="row guanyu">
        <div class="row col-sm-12" style="text-align: center;">
            <div class="titles title1">NEED TO LEAVE A MESSAGE</div>
            <div class="titles title2">需求留言</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>如果你对我们的产品有兴趣，或者想预约进店品尝均可给我们留言 ！</p>
            <p>24小时为您服务，让您无后顾之忧 ！TEL：<a href="#" style="color: #a55c3f;">021-58356282</a></p>
            <img class="img-responsive center-block" src="__PUBLIC__/common/images/xuqiu.png" style="margin-top: 30px;">
        </div>
        <div class="col-sm-6 lx-form">
            <form method="post" action="" onsubmit="return send_email()" id="form1" name="form1">
                <div class="form-group">
                    <label for="names">姓名：</label>
                    <input type="text" class="form-control" name="names" id="names" value="" placeholder="姓名...">
                </div>
                <div class="form-group">
                    <label for="phone">电话：</label>
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="电话...">
                </div>
                <div class="form-group">
                    <label for="Email1">邮箱：</label>
                    <input type="email" class="form-control" name="emails" id="Email1" placeholder="邮箱...">
                </div>

                <div class="form-group">
                    <label for="xuqiu">您的需求：</label>
                    <textarea class="form-control" rows="3" name="xuqiu" id="xuqiu" placeholder="填写需求..."></textarea>

                </div>
                <button type="submit" class="btn btn-default btn-block">提交</button>

            </form>
        </div>
    </div>
    <div style="margin-bottom:50px;"></div>
</div>
<footer>
    {include file="public/footer"}
</footer>

<!--侧边栏-->
{include file="public/sidebar"}

<script type="text/javascript">
//    function verify() {
//        $("#names").focus();
//    }
//    $(".btn-default").click(function(){
//        verify();
//
//    })



    var checkPublish = function (data) {
        if(data.names == ""){
            alert("您还没有填写姓名呢");
            return false;
        }

        if(data.phone == ""){
            alert("您还没有输入电话呢");
            return false;
        }
        if(!(data.phone.length==11)){
            alert("电话号码必须是11位的数字哦");
        }
        if(data.Email1 == ""){
            alert("请输入您正确的邮箱哦");
            return false;
        }
        if(data.xuqiu == ""){
            alert("请您填写需求");
            return false;
        }
        return true;
    }

    function send_email() {
        var data = {};
        data.names = $("#names").val();
        data.phone = $("#phone").val();
        data.emails = $("#Email1").val();
        data.xuqiu = $("#xuqiu").val();
        if(!checkPublish(data)){
            return false;
        }
        $.ajax({
            url: "{:url('home/mail/message')}",
            data: data,
            type: "POST",
            success: function (res) {
                if(res.state=='success'){
                    alert(res.msg);
                    $("#form1")[0].reset();
                }else if(res.state="fail"){
                    alert(res.msg);
                }
            }
        });
        return false;
    }

// $(".btn").on("click", function () {
//     var data = {};
//     data.names = $("#names").val();
//     data.phone = $("#phone").val();
//     data.Email1 = $("#Email1").val();
//     data.xuqiu = $("#xuqiu").val();
//
//
//     console.log(data);
//     if(checkPublish(data)){
//         publish(data);
//     }
// });

var script = document.createElement("script");
script.type = "text/javascript";
script.src = "http://api.map.baidu.com/api?v=2.0&ak=您的密钥&callback=init";
document.body.appendChild(script);

function init() {
    var map = new BMap.Map("allmap");            // 创建Map实例


    var map = new BMap.Map("allmap");
    var point = new BMap.Point(121.618135,31.259959);
    map.centerAndZoom(point,20);
    map.enableScrollWheelZoom();                 //启用滚轮放大缩小
    var marker = new BMap.Marker(point);  // 创建标注
    map.addOverlay(marker);               // 将标注添加到地图中
    marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
}
window.onload = loadJScript;
</script>
</body>
</html>