<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {include file="public/js"}
    <title>联系我们</title>
</head>
<body>
<header>
    {include file="public/header"}
</header>
<div class="banner">
    <a href="#">
        <img class="img-responsive" src="__PUBLIC__/common/images/banner2.jpg">
    </a>
</div>
<div class="container">
    <div class="row guanyu">
        <div class="row col-sm-12" style="text-align: center;">
            <div class="titles title1">CONTACT US</div>
            <div class="titles title2">联系我们</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-4 text-center lx-title">
            <img class="img-responsive center-block" src="__PUBLIC__/common/images/tel.png">
            <p>电话</p>
            <p>021-58356282</p>
        </div>
        <div class="col-sm-4 col-xs-4 text-center lx-title">
            <img class="img-responsive center-block" src="__PUBLIC__/common/images/address.png">
            <p>地址</p>
            <p>上海浦东新区新金桥路1122号1910-1911室</p>
        </div>
        <div class="col-sm-4 col-xs-4 text-center lx-title">
            <img class="img-responsive center-block" src="__PUBLIC__/common/images/email.png">
            <p>邮箱</p>
            <p>david@poprose.cn</p>
        </div>
    </div>

    <div class="row">
        <div class="ditu" id="map">
            <img src="__PUBLIC__/common/images/map2.png" alt="">
        </div>
    </div>
    <div class="row guanyu">
        <div class="row col-sm-12" style="text-align: center;">
            <div class="titles title1">NEED TO LEAVE A MESSAGE</div>
            <div class="titles title2">需求留言</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>如果你对我们的产品有兴趣，或者想预约进店品尝均可给我们留言 ！</p>
            <p>24小时为您服务，让您无后顾之忧 ！TEL：<a href="#" style="color: #a55c3f;">021-58356282</a></p>
            <img class="img-responsive center-block" src="__PUBLIC__/common/images/xuqiu.png" style="margin-top: 30px;">
        </div>
        <div class="col-sm-6 lx-form">
            <form>
                <div class="form-group">
                    <label for="names">姓名：</label>
                    <input type="text" class="form-control" id="names" placeholder="姓名...">
                </div>
                <div class="form-group">
                    <label for="phone">电话：</label>
                    <input type="text" class="form-control" id="phone" placeholder="电话...">
                </div>
                <div class="form-group">
                    <label for="Email1">邮箱：</label>
                    <input type="email" class="form-control" id="Email1" placeholder="邮箱...">
                </div>

                <div class="form-group">
                    <label for="xuqiu">您的需求：</label>
                    <textarea class="form-control" rows="3" id="xuqiu" placeholder="填写需求..."></textarea>

                </div>
                <button type="submit" class="btn btn-default btn-block">提交</button>
            </form>
        </div>
    </div>
    <div style="margin-bottom:50px;"></div>
</div>
<footer>
    {include file="public/footer"}
</footer>

<!--侧边栏-->
{include file="public/sidebar"}


</body>
</html>