<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {include file="public/js"}
    <title>专家介绍</title>
    <link rel="shortcut icon" href="__PUBLIC__/common/images/logo.png">
</head>
<body>
<header>
    {include file="public/header"}
</header>
<div class="banner">
    <a href="#">
        <img class="img-responsive" src="__PUBLIC__/common/images/banner2.jpg">
    </a>
</div>
<div class="container">
    <div class="row guanyu">
        <div class="row col-sm-12" style="text-align: center;">
            <div class="titles title1">EXPERT INTRODUCTION</div>
            <div class="titles title2">专家介绍</div>
        </div>
    </div>
    <div class="row">
        <img class="img-responsive col-sm-4 center-block" src="__PUBLIC__/common/images/zhuanjia-01.png" style="height:400px;">
        <div class="col-sm-8">
            <h3 class="zj-title">丹宁</h3>
            <p class="text-justify">
                丹宁：复旦大学完成经济学学习，在人行总行研究生部（清华大学五道口金融学院）取得国际金融专业硕士，从事过金融、食品、地产、酒店等行业。很多年前因缘际会，
                葡萄酒占据了其幼稚的大脑再也不肯离开，无奈进入澳大利亚阿德莱德大学食品和葡萄酒学院，遂了脑残的愿，获葡萄酒业硕士。后游历世界主要葡萄酒产区，偶尔发表葡萄酒文章，
                不时组织葡萄酒知识培训，但葡萄酒并未成其主业。现在一国际著名品牌酒店任职。
            </p>
        </div>
    </div>
    <div style="margin-bottom:60px;"></div>
</div>
<footer>
    {include file="public/footer"}
</footer>

<!--侧边栏-->
{include file="public/sidebar"}


</body>
</html>