<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {include file="public/js"}
    <title>专家介绍</title>
</head>
<body>
<header>
    {include file="public/header"}
</header>
<div class="banner">
    <a href="#">
        <img class="img-responsive" src="__PUBLIC__/common/images/banner2.jpg">
    </a>
</div>
<div class="container">
    <div class="row guanyu">
        <div class="row col-sm-12" style="text-align: center;">
            <div class="titles title1">EXPERT INTRODUCTION</div>
            <div class="titles title2">专家介绍</div>
        </div>
    </div>
    <div class="row">
        <img class="img-responsive col-sm-4 center-block" src="__PUBLIC__/common/images/zhuanjia-01.png" style="height:400px;">
        <div class="col-sm-8">
            <h3 class="zj-title">丹妮</h3>
            <p class="text-justify">
                上海藏星阁文化发展有限公司是一家独特的美酒文化培育和推广机构。根植于公司创立者长期来
                对全世界葡萄品种、葡萄酒类型和风格、以及葡萄酒产区的考察、品鉴、学习和研究，结合对中
                国饮食文化的品尝、理解和体会，致力将中西方美酒、美食文化二者完美融和。公司现有品牌“
                玫瑰沸腾”（PopRose），专注倡导和普及最炫丽、最浪漫、最时尚、最适合中国饮食文化的葡萄
                酒---玫瑰红。
            </p>
        </div>
    </div>
    <div style="margin-bottom:60px;"></div>
</div>
<footer>
    {include file="public/footer"}
</footer>

<!--侧边栏-->
{include file="public/sidebar"}


</body>
</html>