::-webkit-scrollbar {
    width:8px;
    height: 8px;
}
::-webkit-scrollbar-button {
    background-color: #FF7677;
    display: none
}
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.7)
}
::-webkit-scrollbar-thumb {
    background:rgba(84,84,84,0.3); //滚动条颜色
border-radius:2px;
}
::-webkit-scrollbar-corner {
    background: #82AFFF;
    display: none
}





body{font-family:"Microsoft YaHei","Arial","Helvetica","Verdana";font-size:14px;}
ul, ol {list-style-type: none;}
li{list-style: none;}
u,i{font-style: normal;text-decoration: none;}
a {color:#333; text-decoration: none; }
*{padding:0;margin:0;}
.titles{
    line-height:140%;
    color:#a55c3f;
    font-size:26px;
}
.active-imgbg{
    width:96px;
    height:66px;
    background:url("../images/head-top.png") no-repeat center;
    background-size:100%;
}
.title1{font-family: "Arial";}
.title2{
    border-bottom: 2px solid #a55c3f;
    display: inline-block;
    line-height:160%;
    font-size:34px;
}

p>a:hover{text-decoration:underline;}
img{vertical-align: middle;}

.zx-margin{margin: 30px 0;}
.zx-title{padding:10px;}
a h4{
    text-decoration:none;
}
.overflow{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.overflow-1{-webkit-line-clamp: 1;}
.overflow-2{-webkit-line-clamp: 2;}
.overflow-3{-webkit-line-clamp: 3;}


/*头部导航*/
.navbar{background:rgba(83,83,83,0.3);}
.navbar-inverse{border-color:transparent;}
.navbar-header .navbar-brand{
    padding:0 15px;
}
.navbar-header .navbar-brand>img{
    width:127px;
}
.navbar-nav > li{
    width:146px;
    padding:10px 0;
    text-align: center;
}
.example{
    padding:10px 0;
}
.navbar-nav > li > a{
    font:600 16px/25px "";
    color:#8a675e;
    padding:10px 25px;
    /*!* 背景色渐变 *!  */
    background: -webkit-linear-gradient(left, #cd9878 , #723a28);
    /*// 规定背景的划分区域 */
    -webkit-background-clip: text;
    /*// 防止字体颜色覆盖*/
    -webkit-text-fill-color: transparent;
    border-bottom:2px solid transparent;

}

/*========轮播=======*/
.carousel-box{
    padding: 0;
    height: 35%;
}
.carousel,.carousel-inner{
    height: 35%;
}
.carousel-indicators li{
    border: none;
}
.carousel-inner>.item{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35%;
}
.carousel-inner>.item>img{
    width: 100%;
    max-height: 600px;
}
.carousel-indicators>li{
    background: #999;
}
.carousel-indicators .active{
    background:#a55c3f;
}

.carousel-box .glyphicon{
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
    font-weight: 100;
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-box .glyphicon.glyphicon-menu-right{
    right: 50%;
}
.glyphicon-menu-left:before {
    content: "\e257";
}
.glyphicon-menu-right:before {
    content: "\e258";
}

/*广告*/
.banner{height:100%;}
.banner img{width: 100%;}

.mei-te{color:#a55c3f;}

.cpzx_img{margin-bottom:30px;}
.cpzx_img a:hover{color: #a55c3f;text-decoration: underline;}

.breadcrumb {
    padding: 20px 15px;
    background:none;
    border-radius: 0px;
    font-size:16px;

}
.breadcrumb > .active {
    color: #a55c3f;
}
.breadcrumb>li>a:hover{color: #a55c3f;text-decoration:#a55c3f;}

.text-center>p{color: #a55c3f;}
.ditu{width: 100%;height:500px;border:1px solid #a55c3f;margin:40px 0;}
.btn-default{border-color: #a55c3f;background:#a55c3f;color: #fff;}
.ditu img{
    width:100%;
    height:100%;
}


/*关于我们*/
.guanyu{padding:50px 0;}
.guanyu>.guanyu-img{margin-top:25px;}
.guanyu>.guanyu-img>img{height:220px;}

/*产品展示*/
.cp-bg{background:url("../images/cp-bg.png") no-repeat center;padding:40px 0;}
.cp_margin{margin-bottom:60px;}
.cp-zs{padding-top:100px;}
.cp-top-p{
    line-height:30px;
    /*margin-top:40px;*/
}

.Ackerman{font:18px/24px "";color: #a55c3f;}
.Ackerman_font{margin-bottom:40px;}

.left>img{
    position:relative;
    left:0;
    top:50%;
}
.right>img{
    position:relative;
    right:0;
    top:50%;
}
.aboutbox{
    padding-top:25px;
}


.shadow-img:hover{
    box-shadow:0 0 8px #a55c3f;
}


/*轮播图左右按钮*/
.carousel-control.right{
    text-align: right;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, 0) 100%);
}
.carousel-control.left{
    text-align: left;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .0001) 100%);
}

/*查看更多 按钮*/
.btnprimary{margin-top:20px;text-align: center;}
.btn-more{
    width:20%;
    border:1px solid #a55c3f;
    text-align: center;
    padding: 6px 0;
    display: inline-block;
}
.btn-more>a{color:#a55c3f;display: inline-block;}
.btn-more:hover{background:#a55c3f;}
.btn-more:hover>a{color: #fff;}
.btn-more>a:hover{text-decoration: none;}

/*!*红酒资讯*!*/

.zx-title>h5{font-size:16px;color: #a55c3f;}
.zx-title>p>u{color:#666;font-size: 12px;}
.zx-title>p>a:hover{color: #a55c3f;}
/*
.nav{
    height: 40px;;
    text-align: center;
}
.nav-pills>li{
    display: inline-block;
    height:30px;
    line-height:30px;
    float: none;
}
.nav>li>a{
    padding:0 15px;
    border-radius: 0px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #a55c3f;
    color: #fff;
}*/
/*分页*/
.pagination>li>a, .pagination>li>span{
    color: #a55c3f;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
    background-color:#a55c3f;
    border-color:#a55c3f;
}
/*专家*/
.zj-title{
    border-bottom: 1px solid #a55c3f;
    line-height:300%;
    margin-bottom:60px;;
}
/*资讯详情*/
.zx_wenzhan>li{
    height:30px;
    display: inline;
    margin: 15px 0;
}

.xq-page>i{color: #a55c3f;}

/*集团介绍*/
.td_img{
    margin-bottom:15px;
}

/*联系我们*/
.lx-title>p{margin-top:10px;}

/*底部*/
.foot{background: #333;}
.foot-bor{border-bottom:1px solid #f5f5f5;padding: 20px 0;}
.foot-border{
    border-right:1px solid #f5f5f5;
    padding:0;
}
.foot{color:#f5f5f5;}
.foot a{color:#f5f5f5;}
.foot-meigui{
    font-size:22px;
}
.poprose{
    display: inline-block;background: #f5f5f5;
    font-size:20px;padding:0 5px;
    color:#333;
}

.text-right{color:#fff;font-size:18px;

}

.foot-buttom .text-center{padding-top:20px;}



/*侧边栏*/
.ce-btn{
    position: fixed;
    right: 0px;
    bottom:150px;
    width:35px;
    height:170px;
}
.ce-btn .ce-btns{
    width:35px;height:35px;
    background:#a55c3f;
    margin-bottom:2px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
.ce-btn .ce-btns i{
    display: inline-block;
    width:inherit;
    height: inherit;

}
.weixin{background:url("../images/side.png") no-repeat -1px 0px;}
.qq{background:url("../images/side.png") no-repeat -1px -38px;}
.tel{background:url("../images/side.png") no-repeat -1px -75px;}
.zhiding{background:url("../images/side.png") no-repeat -1px -112px;}

.Alert{
    width:200px;height: 100px;
    background:#fff;
    position:absolute;
    top:0;
    right:50px;
    display: none;
    border:1px solid #a55c3f;
}
.Alert:after{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left:5px solid #fff;
    position:absolute;
    right:-9px;
    top:10px;
}
.Alert:before{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left:5px solid #a55c3f;
    position:absolute;
    right:-10px;
    top:10px;
}
.change img{
    display: none;
}

@media screen and (max-width: 992px){
    .carousel-indicators{
        bottom: 0;
    }
    /*.change img{*/
        /*display:none;*/
    /*}*/
}

@media (max-width: 768px) {
    body{font-size: 1.3rem;}

    b{font-weight: normal;}

    .titles{
        font-size:1.5rem;
    }

    .title2{

        font-size:2rem;
    }

    .guanyu{padding:20px 0;}

    .navbar-header .navbar-brand>img{
        width:95px;
        padding-top:0px;
    }

    .cp-top>.cp-top-p{font-size: 1.5rem;}

    .cp-bg{  background: none;  }

    .cp_margin{
        margin-bottom:20px;
        text-align: center;
    }
    .navbar{
        background:#333;
    }
    .change img{
       display: block;
    }
    .change1 img{
        display: none;
    }
    /*.change1 img{*/
        /*display: none;*/
    /*}*/
    .te{margin-top:0px;}

    .cp-zs{padding-top:0px;}

    .Ackerman{font-size: 1.5rem;}

    .left>img{
        width:30%;
        position:relative;
        left: 0;
        top:30%;
    }

    .right>img{
        width:30%;
        position:relative;
        right: 0;
        top:30%;
    }

    .text-justify{padding:0 15px;}

    .aboutbox{
        padding-top:0;
    }

    .zx_wenzhan>li{
        margin:0;
        text-align: left;
        padding: 0;
    }
    .zx_wenzhan{
        padding-left:15px;
    }

    .foot-border{border-right: 0;margin-bottom:10px;}
    .text-right{text-align: left;}
    .foot-address{padding: 0;}
    .lx-form{margin-top:50px;}

    .ce-btns:nth-child(1){
        display: none;
    }
    .ce-btns:nth-child(2){
        display: none;
    }
    h4{
        font-size:1.1rem;
    }
    .phonehide{
        display:none;
    }
    #map{
        width: 100%;
        height: 60%;
    }
    .font-box{
        text-align:center;
    }
    .pic img{
        width:60%;
        padding-top:20px;
    }
    ::-webkit-scrollbar {
        width:2px;
        height:2px;
    }
    ::-webkit-scrollbar-button {
        background-color: #FF7677;
        display: none
    }
    ::-webkit-scrollbar-track {
        background:#333;
    }
    ::-webkit-scrollbar-thumb {
        background:#333; //滚动条颜色
        border-radius:2px;
    }
    ::-webkit-scrollbar-corner {
        background: #82AFFF;
        display: none
    }

}










