<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台首页</title>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/main.css"/>
    <link rel="stylesheet" href="__PUBLIC__/common/css/bootstrap.css">
    <script src="__PUBLIC__/common/js/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/common/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="__PUBLIC__/common/images/logo.png">
    <style>
        table{width:100%;border:1px solid #ccc}
        td{width:8%;overflow:auto;border:1px solid #ccc;}
        body{background:#f2f2f2;}
        .menu_box_ul a{color:#961949;}
        .pagination > .active > span{background:#b9637e;border:1px solid #b9637e}
    </style>
</head>
<body class="index-body">
<div id="header">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="logo">
                <img class="img-responsive center-block" src="__PUBLIC__/common/images/logo1.png">
            </div>
        </div>
    </nav>
</div>
<div id="contents">
    <div class="container">
        <div id="content-left" class="col-md-2" style="background:white;border-right:1px solid #b3b3b3;">
            <div class="menu_box">
                <ul class="menu_box_ul" style="padding-top:40px;">
                    <li>
                        <h4><i class="fa fa-fw fa-clipboard"></i>资讯中心</h4>
                        <ul class="sub_menu">
                            <li class=""><a href="{:url('admin/index/publish')}" target="main">发布资讯</a></li>
                            <li class=""><a href="{:url('admin/index/plist')}" target="main">资讯列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4><i class="fa fa-fw fa-clipboard"></i>产品中心</h4>
                        <ul class="sub_menu">
                            <li class=""><a href="{:url('admin/product/publishwine')}" target="main">发布产品</a></li>
                            <li class=""><a href="{:url('admin/product/winelist')}" target="main">产品列表</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="content-right" class="col-md-10" style="background:white;">
            <div class="result_wrap table-responsive" name="main">
                <span style="width: 100px;height: 30px;display: block;"></span>
                <table class="table table-hover">
                    <thead>
                    <tr style="border-bottom:2px solid #b3b3b3;text-align: center;" class="danger">
                        <!--<td>产品详图</td>-->
                        <!--<td>产品描述</td>-->
                        <!--<td style="width:15%;">英文标题</td>-->
                        <td style="width:15%;">标题</td>
                        <td>产地</td>
                        <!--<td>年份</td>-->
                        <td>品种</td>
                        <!--<td>酒精度</td>-->
                        <!--<td>产考价格</td>-->
                        <!--<td>酒品提供</td>-->
                        <!--<td>外观</td>-->
                        <!--<td>香气</td>-->
                        <!--<td>滋味</td>-->
                        <!--<td>总体质量</td>-->
                        <!--<td>基本分</td>-->
                        <!--<td>总评分</td>-->
                        <td>编辑</td>
                    </tr>
                    </thead>
                    {volist name="list" id="vo"}
                    <tr style="text-align:center;">
                        <!--<td>{$vo.banner}</td>-->
                        <!--<td>{$vo.desc}</td>-->
                        <!--<td>{$vo.etitle}</td>-->
                        <td style="color:#992247">{$vo.title}</td>
                        <td>{$vo.productarea}</td>
                        <!--<td>{$vo.year}</td>-->
                        <td>{$vo.kind}</td>
                        <!--<td>{$vo.vol}</td>-->
                        <!--<td>{$vo.referprice}</td>-->
                        <!--<td>{$vo.winesupply}</td>-->
                        <!--<td>{$vo.appearance}</td>-->
                        <!--<td>{$vo.aroma}</td>-->
                        <!--<td>{$vo.taste}</td>-->
                        <!--<td>{$vo.quality}</td>-->
                        <!--<td>{$vo.basescore}</td>-->
                        <!--<td>{$vo.totalscore}</td>-->
                        <td>
                            <a href="{:url('admin/product/publishwine')}?id={$vo.id}">修改</a>
                            <a href="" class="onclick" data-id="{$vo.id}">删除</a>
                        </td>
                    </tr>
                    {/volist}

                </table>
                {$list->render()}
            </div>
        </div>
    </div>

</div>
<div class="row foot-buttom">
    <div class="col-sm-12">
        <p class="text-center">
            Copyright @ 2014-2017.
            <a href="#">上海臧星阁文化发展有限公司</a>
            All Rights Reserved
            <a>沪ICP备xxxxxx号</a>
        </p>
    </div>
</div>
<script>
    //删除
    $(".onclick").on('click',function(){
        var id = $(this).data('id');
        $.ajax({
            url:"delete",
            data:{"id":id}, //以键/值对的形式
            type:"GET",
            async : true,
            dataType : "json",
            success : function(res) {
                if(res.success){
                    alert('删除成功')
                }else{
                    alert('删除失败');
                }
            }
        })
    });

    $(function(){
        if($("#content-left").height() > $("#content-right").height()){
            $("#content-right").css("height",$("#content-left").height());
        }else{
            $("#content-left").css("height",$("#content-right").height());
        }
    })
</script>
</body>
</html>